<div style="width: 90%;margin-left: auto;margin-right: auto;margin-top: 5vh" ng-init="onload()">
	<div class="uk-text-center">
		<h1 ng-if="device == 'web'" style="color: gray">เกี่ยวกับเรา</h1>
		<h2 ng-if="device == 'device'" style="color: gray">เกี่ยวกับเรา</h2>
	</div>
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-1-1 uk-text-center">
				<img src="app/img/logo/logo.png" class="set_about_us-img" alt="">
				<div class="uk-text-large uk-margin-top">
					รับออกแบบและติดตั้ง <br>
					ผ้าม่าน มู่ลี่ วอลเปเปอร์ ฉากกั้นห้อง <br>
					พรม กระเบื้องยาง มุ้งลวด <br>
				</div>
				
				<span class=" uk-text-bold" style="color: #2e179a">เรายินดีรับใช้ด้วยใจยุติธรรม รับประกันคุณภาพ</span>
		</div>
		<div class="uk-width-1-1 set_about_us-detail" >
				<div class="uk-margin-top">
					<i class="material-icons uk-text-bold" style="color: green">check</i>ก่อตั้งโดย คุณฤทธิพันธ์ุ บุณยอมรัตน์ เมื่อปี พ.ศ. 2546 <br>
					<i class="material-icons uk-text-bold" style="color: green">check</i>เริ่มกิจจากการรับตกแต่งในมหาลัยเกษตรศาสตร์ โรงพยาบาล โรงแรม และ เคยูโฮม  <br>
					<div class="uk-text-center"><img src="app/img/about_us/1.jpg" alt="" style="width: 20%"> </div>
					<i class="material-icons uk-text-bold" style="color: green">check</i>ต่อมาเริ่มออกแบบตกตแ่งให้กับ หมู่บ้านต่างๆ เช่น เศรษฐศิริ รามอิรทรา , สราญสิริ รามอินทรา , The Palazzo เป็นต้น <br>
					<div class="uk-grid">
						<div class="uk-width-1-4"><img src="app/img/about_us/2.jpg" alt="" > </div>
						<div class="uk-width-1-4"><img src="app/img/about_us/3.jpg" alt=""  style="margin-top: 12px;"></div>
						<div class="uk-width-1-4"><img src="app/img/about_us/4.jpg" alt="" > </div>
						<div class="uk-width-1-4"><img src="app/img/about_us/5.jpg" alt="" style="margin-top: 12px;"></div>
						<div class="uk-width-1-4"><img src="app/img/about_us/6.jpg" alt="" style="margin-top: 12px;"></div>
						<div class="uk-width-1-4"><img src="app/img/about_us/7.jpg" alt="" style="margin-top: 12px;"></div>
						<div class="uk-width-1-4"><img src="app/img/about_us/8.jpg" alt="" style="margin-top: 12px;"></div>
						<div class="uk-width-1-4"><img src="app/img/about_us/9.jpg" alt="" style="margin-top: 12px;"></div>
					</div>
					<i class="material-icons uk-text-bold" style="color: green">check</i>มีทีมบริษัทอินทรีเรียต่างๆ เช่น M.o.l. Design , Ud Intilior , Amutsachan Achitecture <br>
					<i class="material-icons uk-text-bold" style="color: green">check</i>ต่อมาปี 2555 จดทะเบียนบริษัทในชื่อ อมรภัณฑ์ เดคอร์ (Amornpan Decor) ทุจดทะเบียน 1,000,000 บาท

				</div>
				<div class="uk-margin-top">
					<div class="uk-text-bold">ติดต่อ</div>
					<div><i class="material-icons" style="color: orange;font-size: 16px">local_phone</i> 02-060-0597 , Amornpan Decor</div>
					<div><i class="material-icons" style="color: orange;font-size: 16px">local_phone</i> 092-978-2995 , คุณ เดียร</div>
					<div><i class="material-icons" style="color: orange;font-size: 16px">local_phone</i> 095-287-9653 , คุณ หญิง</div>
					<div ng-if=device=='web'><img src="app/img/about_us/fb.png" alt="" width="16"> <a href="https://www.facebook.com/amornpandecor">amornpan decor</a></div>
					<div>
					<div ng-if=device=='device'><img src="app/img/about_us/fb.png" alt="" width="16"> <a href="https://m.facebook.com/amornpandecor">amornpan decor</a></div>
					<div>
					<div><img src="app/img/about_us/inboxLine.png" alt="" width="16"> <a href="http://line.me/ti/p/~Amonphan.decor">			ID:Amonphan.deco</a></div>
					<div>
						<i class="material-icons" style="color: orange;font-size: 16px">pin_drop</i> 75/317 หมู่บ้านปรีชาร่มเกล้า ซอย 3/2 ถนนร่มเกล้า 1 แขวงแสนแสบ เขตมีนบุรี กรุงเทพมหานคร 10510. 
					</div>
				</div>
				
				
		</div>
	</div>
	


	

</div>