<article class="uk-article">
	    <h1 class="uk-article-title">การความสะอาดผ้าม่านอย่างถูกวิธี</h1>
	    <p class="uk-article-meta">ANUARY 10, 2018</p>
	    <p class="uk-article-lead">ปัจจุบัน ผ้าม่าน เป็นสิ่งที่สามารถพบเห็นให้ได้ทั่วไปในแทบทุกครัวเรือน แต่จะมีผู้อยู่อาศัยสักที่คนที่จะคอยทำความสะอาด ผ้าม่าน อย่างสม่ำเสมอ เพราะหาก ผ้าม่าน ถูกปล่อยทิ้งไว้นาน ย่อมกลายเป็นจุดที่สะสมของไรฝุ่นและฝุ่นละอองจำนวนมาก ซึ่งจะเป็นสารก่อภูมิแพ้ จึงย่อมส่งผลเสียต่อสุขภาพของผู้อยู่อาศัยอย่างแน่นอน โดยมีวิธีการทำความสะอาดหลายวิธี เช่น</p>
	    <hr class="uk-article-divider">
	    <h4 class="uk-text-bold">เครื่องดูดฝุ่น</h4>
	    <p>  
			ผู้ทำความสะอาดสามารถใช้เครื่องดูดฝุ่นทำความสะอาด ผ้าม่าน ได้ทุกชนิด โดยเริ่มดูดจากด้านบนบริเวณราง ผ้าม่าน ไล่ลงไปจนถึงบริเวณด้านล่างให้ทั่วทุกมุมของ ผ้าม่าน ที่กำลังทำความสะอาด ซึ่งวิธีนี้เป็นวิธีที่ง่ายที่สุด จึงควรทำความสะอาดเป็นประจำทุกสัปดาห์
	    </p>
	    <div class="uk-text-center">
	    	 <img class="shadow" src="app/img/article/1.jpg" alt="">
	    </div>
	   
	     <h4 class="uk-text-bold"> ซักด้วยเครื่องซักผ้า</h4>
	    <p>  
			ผ้าม่าน บางชนิดสามารถทำความสะอาดด้วยน้ำได้ แต่บางชนิดไม่สามารถทำได้ ดังนั้นผู้ทำความสะอาดเองควรจะศึกษาให้แน่ชัดก่อนว่า ผ้าม่าน ของเราสามารถทำได้หรือไม่ โดยดูจากป้ายแนะนำวิธีการรักษาที่ติดมาขณะซื้อสินค้า หากทำได้ให้นำ ผ้าม่าน ไปแช่น้ำยาซักผ้าสูตรอ่อนโยนในถังประมาณ 30 นาที จากนั้นนำไปปั่นซักในเครื่องซักผ้า โยปรับเป็นระบบถนอมผ้า จากนั้นนำไปตากบริเวณในร่ม ที่มีลมพัดถ่ายเทสะดวก เพื่อเป็นการลดกลิ่นอับ และป้องกันการซีดของสีผ้าหากนำไปตากกลางแดดจัด
	    </p>
	      <h4 class="uk-text-bold"> การซักแห้ง</h4>
	       <p>  
			ผ้าม่าน บางชนิดสามรถทำความสะอาดได้ด้วยการซักแห้งเพียงอย่างเดียว ดังนั้นเมื่อพบเช่นนั้นควรส่งซักในร้านที่เปิดให้บริการซักแห้งจะสะดวกที่สุด ประโยชน์ของ ผ้าม่าน นั้นมีมากมายหลายประการ แต่สิ่งที่สำคัญคือเราควรทำความสะอาดอย่างสม่ำเสมอ เพราะมิฉะนั้นอาจจะส่งผลเสียต่อสุขภาพของผู้อยู่อาศัยในระยะยาวได้
	    </p>	  
</article>